#tibber-widget {
  width: 450px;
  height: 480px;
  background-color: black;
  color: white;
  padding: 5px 15px 15px;
  font-family: System-Font-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tibber-header {
  float: none;
  clear: both;
  margin: 0 0 10px;
  text-align: center;
}

#tibber-header img {
  width: 150px;
  text-align: center;
  display: block;
  margin: 5px auto;
}

#widget-top-section {
  height: 80px;
}

#widget-top-section > div {
  float: left;
  width: 32.5%;
}

#widget-top-section > div:last-of-type {
  float: right;
  width: 35%;
}

#current-price {
  font-size: 20px;
}

#widget-graph-section {
  margin-bottom: 10px;
}

#widget-graph-section h2 {
  text-align: center;
}

#widget-update-info-section {
  clear: both;
  margin: auto;
  width: 150px;
}

.smaller-text {
  font-size: 14px;
}

.hidden {
  display: none;
}

#tibber-token {
  width: 335px;
}

#settings-button {
  cursor: pointer;
}

@font-face { 
  font-family: System-Font-Light;
  src: url('System-Font-Light.ttf'); 
}