#tibber-widget {
  width: 200px;
  background-color: black;
  color: white;
  padding: 5px 15px 15px;
  font-family: System-Font-Light, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tibber-widget.shows-day {
  width: 250px;
}

#tibber-widget.shows-montly {
  width: 270px;
}

#tibber-widget.shows-day.shows-montly,
#tibber-widget.shows-graph {
  width: 450px;
}

#tibber-widget:not(.shows-day.shows-montly):not(.shows-graph) #tibber-header > span {
  display: none;
}

#tibber-header {
  min-height: 50px;
  float: none;
  clear: both;
  margin: 0 0 10px;
  text-align: center;
}

#tibber-header img {
  width: 150px;
  text-align: center;
  display: block;
  margin: 5px auto;
}

#widget-top-section {
  height: 80px;
}

#widget-top-section > div {
  float: left;
  padding: 0 25px;
}

#tibber-widget.shows-day:not(.shows-montly) #widget-top-section > div#day-consumption,
#widget-top-section > div#montly-consumption {
  float: right;
  padding-right: 0;
}

#tibber-widget:not(.shows-day):not(.shows-montly) #widget-top-section > div {
  width: 80px;
  float: none;
  padding: 0;
  margin: 0 auto;
}

#current-price {
  font-size: 20px;
}

#widget-graph-section h2 {
  text-align: center;
}

#widget-update-info-section {
  clear: both;
  margin: auto;
  width: 150px;
}

#widget-update-info-section {
  margin-top: 10px;
}

.smaller-text {
  font-size: 14px;
}

.hidden {
  display: none;
}

#tibber-token {
  width: 335px;
}

#settings-button {
  cursor: pointer;
}

@font-face { 
  font-family: System-Font-Light;
  src: url('System-Font-Light.ttf'); 
}